##### kospi 200 45분 기준 거래량 전처리
* 전일 변동율 = (전날종가-전날시가)/전날시가 yesterday_change <br>
* 야간 변동율 = (당일시가-전날종가)/전날종가 night_change <br>
* 데이터 기간 : 2023/07/31 ~ 2023/10/20

In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv("../dataset/ks200_45min_transaction.csv", index_col=0)

In [3]:
# 컬럼명 변경 : 현재가 거래량 체결시간 시가 고가 저가 수정주가이벤트 전일종가
df.columns=['now','ks200_transaction','time','open','high','low','adj_event','yesterday_close']

In [4]:
# 사용하지 않는 컬럼 제거 및 컬럼 순서 변경
df.drop(['open','high','low','adj_event','yesterday_close'],axis=1, inplace=True)
df = df[['time','ks200_transaction']]

In [5]:
# 문자열을 datetime 객체로 변환
date_format = "%Y%m%d%H%M%S"
df['time'] = pd.to_datetime(df['time'], format = date_format)

In [6]:
# 시간 순으로 정렬
df = df.sort_values(by='time')

# 인덱스 리셋
df.reset_index(drop=True, inplace=True)

In [7]:
# df[df['time']=='2023-07-31 08:45:00'] -> 320 번째 컬럼부터 추출 (기간 설정)
# df[df['time']=='2023-10-20 15:30:00'] -> 859 번째 컬럼부터 추출 (기간 설정)
df = df[320:860]
df.reset_index(drop=True, inplace=True)

                   time  ks200_transaction
0   2023-07-31 08:45:00                127
1   2023-07-31 09:30:00                 62
2   2023-07-31 10:15:00                 97
3   2023-07-31 11:00:00                 12
4   2023-07-31 11:45:00                 25
..                  ...                ...
535 2023-10-20 12:30:00              17533
536 2023-10-20 13:15:00              17767
537 2023-10-20 14:00:00              23732
538 2023-10-20 14:45:00              35373
539 2023-10-20 15:30:00              10453

[540 rows x 2 columns]

In [9]:
# csv 파일로 새로 저장
os.chdir("C:/Users/LGPC/Desktop/oncoding/Project1/dataset")
df.to_csv("C:/Users/LGPC/Desktop/oncoding/Project1/dataset/ks200_transaction_final.csv")