import modules

In [40]:
import pandas as pd
import os
current_directory = os.getcwd()
print("현재 디렉토리:", current_directory)

현재 디렉토리: c:\apps\Project1\data_preprocessing

load data

In [41]:
cd = pd.read_excel('../dataset/CD(91).xlsx').rename(columns={'Unnamed: 0':'date', 'CD(91일)':'cd'})

c:\Users\user\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [42]:
cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    60 non-null     object
 1   cd      60 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.1+ KB

#### CD 변동율, 변동폭 전처리
* 변동율 = (당일금리-전일금리)/전일금리 *100 cd_p_change(%) <br>
* 변동폭 = (당일금리-전일금리) cd_p_range <br>
* 데이터 기간 : 2023/07/31 ~ 2023/10/20

In [43]:
# 변동률
cd['cd_p_change(%)'] = cd['cd'].pct_change() *100

In [44]:
# 변동폭
cd['cd_p_range'] = cd['cd'].diff(1)

In [45]:
cd['date'] = pd.to_datetime(cd['date'])
# 데이터 기간 : 2023/07/31 ~ 2023/10/20
cd = cd.loc[cd['date']<='2023-10-20',].loc[cd['date']>='2023-07-31',]
cd.drop('cd', axis=1, inplace=True)
# 날짜순으로 오름차순 정렬
cd.sort_values(by='date', inplace=True)
cd.reset_index(drop=True, inplace=True)

In [46]:
cd

         date  cd_p_change(%)  cd_p_range
0  2023-07-31        0.000000        0.00
1  2023-08-01        0.000000        0.00
2  2023-08-02        0.000000        0.00
3  2023-08-03       -0.267380       -0.01
4  2023-08-04       -0.268097       -0.01
5  2023-08-07        0.000000        0.00
6  2023-08-08       -0.537634       -0.02
7  2023-08-09        0.000000        0.00
8  2023-08-10       -0.540541       -0.02
9  2023-08-11        0.271739        0.01
10 2023-08-14        0.000000        0.00
11 2023-08-16        0.271003        0.01
12 2023-08-17        0.000000        0.00
13 2023-08-18        0.000000        0.00
14 2023-08-21        0.000000        0.00
15 2023-08-22        0.000000        0.00
16 2023-08-23       -0.270270       -0.01
17 2023-08-24        0.000000        0.00
18 2023-08-25        0.000000        0.00
19 2023-08-28        0.000000        0.00
20 2023-08-29        0.000000        0.00
21 2023-08-30        0.000000        0.00
22 2023-08-31        0.000000        0.00
23 2023-09-01       -0.271003       -0.01
24 2023-09-04        0.271739        0.01
25 2023-09-05        0.271003        0.01
26 2023-09-06        0.270270        0.01
27 2023-09-07        0.269542        0.01
28 2023-09-08        0.000000        0.00
29 2023-09-11        0.000000        0.00
30 2023-09-12        0.268817        0.01
31 2023-09-13        0.536193        0.02
32 2023-09-14        0.266667        0.01
33 2023-09-15        0.531915        0.02
34 2023-09-18        0.264550        0.01
35 2023-09-19        0.263852        0.01
36 2023-09-20        0.263158        0.01
37 2023-09-21        0.262467        0.01
38 2023-09-22        0.261780        0.01
39 2023-09-25        0.000000        0.00
40 2023-09-26        0.000000        0.00
41 2023-09-27        0.000000        0.00
42 2023-10-04        0.261097        0.01
43 2023-10-05       -0.260417       -0.01
44 2023-10-06       -0.261097       -0.01
45 2023-10-10        0.000000        0.00
46 2023-10-11        0.000000        0.00
47 2023-10-12        0.000000        0.00
48 2023-10-13        0.000000        0.00
49 2023-10-16        0.000000        0.00
50 2023-10-17        0.000000        0.00
51 2023-10-18        0.000000        0.00
52 2023-10-19        0.000000        0.00
53 2023-10-20        0.000000        0.00

In [47]:
cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54 entries, 0 to 53
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   date            54 non-null     datetime64[ns]
 1   cd_p_change(%)  54 non-null     float64
 2   cd_p_range      54 non-null     float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.4 KB

In [48]:
cd.to_csv('../dataset/clean_feature/CD.csv')